nav {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background-color: #001219;
    align-items: center;
    position: fixed;
    z-index: 999;
}
nav h1{
    color: #fff;
    margin-left: 40px;
}
nav a {
    text-decoration: none;
}
nav span{
    color: #ffa600;
    cursor: pointer;
    margin-left: 40px;
    font-size: .85rem;
    text-transform: uppercase;
}
nav span:hover{
    color: #fff;
    border-bottom: 2px solid #EE9B00;
    padding-bottom: 5px;
}


span #HomeLight, #MoviesLight, #TrendingLight, #PricingLight{
    color: #fff;
} 
span #HomeLight:hover, #MoviesLight:hover, #TrendingLight:hover, #PricingLight:hover{
    border-bottom: 2px solid #fff;
    color: #ff206e;
}


#navBarColor{
    background-color: #38bdab;
    transition: .6s;
}
.nav-options{
    display: flex;
    align-items: center;
}
#heading{
    color: #ff206e;
}
#navBarColor span:hover{
    border-bottom: 2px solid #ff206e;
    padding-bottom: 5px;
}
.input-group{
    display: flex;
    align-items: center;
}
#color-switcher-dark{
    position: relative;
    margin-right: 40px;
    background-color: #afafaf41;
    width: 80px;
    height: 40px;
    border-radius: 20px;
}
#color-switcher-light{
    position: relative;
    margin-right: 40px;
    background-color: #fff;
    width: 80px;
    height: 40px;
    border-radius: 20px;
}
#color-switcher-mover{
    position: absolute;
    left: 5px;
    top: 4px;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    transition: .8s;
    margin-top: -2px;
}
#color-switcher-moved{
    position: absolute;
    left: 40px;
    top: 4px;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    transition: .8s;
    margin-top: -2px;
}
.input-group input{
    position: relative;
    width: 323px;
    height: 4vh;
    border-radius: 16px;
    border: none;
    margin-right: 30px;
}
.input-group input[type='text']{
    padding-left: 17px;
    font-size: 1rem;
    color: black;
}
.input-group input::placeholder{
    color: black;
}
.input-group input:focus{
    outline: none;
}
#search-dark{
    position: absolute;
    margin-left: 310px;
    color: rgb(255, 255, 255);
}
#search-light{
    position: absolute;
    margin-left: 310px;
    color: rgb(0, 0, 0);
}

#input-dark{
    background-color: #afafaf41;
    color: #fff;
}
#input-light{
    background-color: #fff;
    color: #000;
}
#input-dark::placeholder{
    color: #fff;
}
#input-light::placeholder{
    color: #000;
}

